$base-background-color:#3F8EBD;
$base-second-background-color:#F3F4F7;
$base-button-color:#1BC99C;
$base-font-color:#9DA1A9;
$base-header-color:#3F444B;
$base-border:#DADCE0;
$font-family-default:'Roboto', sans-serif;