$base-font-color-link : #1a73e8;
$base-font-color : #202124;
$font-family-styles : roboto,'Noto Sans Myanmar UI',arial,sans-serif;
$font-family-styles-second:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
$border-base : #DADCE0;
