$base-color : #037EBA;
$card-base-one : #A0AF46;
$card-base-two : #F88244;


@mixin set-flex {
    display: flex;
    justify-content: space-between;
    
}

@mixin set-width {
    width: 95%;
    margin: 0 auto;
}

@mixin button-style {
    background-color: $base-color;
    padding: 10px;
    width: 150px;
    align-self:flex-end;
    color:white;
    border:1px solid $base-color;
}

@mixin set-bg-property {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin set-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}


@mixin set-anchor {
    color: $base-color;
    font-weight: bold;
    text-decoration: none;
}

    

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

a {
    @include set-anchor();
}


header {
    background-color: #FFFFFF;
    margin-top: 0px;
    border-bottom: 1px solid black;
    nav {
        @include set-flex();
        @include set-width();
        height: auto;
        flex-wrap: wrap;
        align-items: center;
          div {
              ul {
                  list-style: none;
                  @include set-flex();
      
                  li {
                      margin-left: 15px;
                  }
              }
             
          }
      
          img {
              width: 20px;
              height: 20px;
              vertical-align: middle;
          }

      
          .right-section {
              @include set-flex()
          }
        
          input {
           padding: 15px;
          }
        
        
      }
}


.services {
    width: 100%;
    .services_container {
        @include set-flex();
        @include set-margin();
        @include set-width();
        align-items: center;
        height: 200px;
        .right-section {
            border:1px solid white;
            width: 70%;
           ul {
               list-style: none;
               @include set-flex();
               justify-content: space-around;
    
               li {
                margin-right: 10px;
                margin-left: 10px;
                border-right: 1px solid black;
                height: 150px;
    
                &:last-child {
                    width: 100px;
                }
               }
    }
    
       }

       div {
           margin-right: 20px;
           text-align: center;
       }

       img {
           height: 60px;
           margin-bottom: 6px;
       }

       h2 {
           margin-top: 20px;
       }
     
    }

    .left-section {
        border:1px solid black;
        text-align: center;
        width: 20%;
        height: 150px
    }
   
}


// .about {
//     @include set-flex();
//     @include set-margin();
//     width: 100%;
//     .left-sction {
//         width: 50%;
//     }
//     .right-section {
//         width: 50%;
//         @include set-flex();
//         flex-direction: column;
//         justify-content: center;
//         height: 345px;

//         button {
//            @include button-style();
//         }
//     }
// }


// .feature_cards {
//     @include set-flex();
//     @include set-margin();
//     text-align: center;
//     .card-1 {
//         background-color: $base-color;
//     }

//     .card-2 {
//         background-color: $card-base-one;
//     }
//     .card-3 {
//         background-color: $card-base-two;
//     }
// }


// .projects {
//     @include set-margin();
//     color: white;
//     text-align: center;
//     .project-cards {
//         @include set-flex();
//     }
//     .card_1,.card_2,.card_3,.card_4 {
//     height: 300px;
//     width: 400px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     position: relative;
//     }

//     .card_1 {
//         background: url('./assets/project_1.jpg');
//         @include set-bg-property();
//     }

//     .card_2 {
//         background: url('./assets/project_2.jpg');
//         @include set-bg-property();
//     }
//     .card_3 {
//         background: url('./assets/project_3.jpg');
//         @include set-bg-property();
//     }
//     .card_4 {
//         background: url('./assets/project_4.jpg');
//         @include set-bg-property();
//     }

//     .card_header {
//         position: absolute;
//         top: 55%;
//         background-color: #037EBA;
//         padding: 4px
//     }

//     .card_content {
//     @include set-flex();
//     flex-direction: column;
//     justify-content: center;
//     color: white;
//     position: absolute;
//     height: 100px;
//     background: rgba(0, 0, 0, 0.7);
//     width: 100%;
//     top: 67%;
    
//     button {
//         align-self: flex-end;
//         justify-self: flex-end;
//     }

//     }



// }


// .words {
//     height: 300px;
//     @include set-flex();
//     @include set-margin();

//     button {
//         @include button-style();
//     }
//     .right-section {
//         width: 50%;
//         text-align: center;

//     .profile_img_container {
//         background: url('./assets/histogram.jpg');
//         @include set-bg-property();
//         position: relative;
//         height: 100px;
//     }

//     .profile_img {
//         position: absolute;
//         width: 100%;

//         img {
//             margin-top: 50px;
//             border-radius: 50%;
//         }
//     }

// }

//     .words_content {
//         padding: 10px;
//     }

//     .info {
//         margin-top: 30px;
//     }

//     .left-section {
//        width: 50%;
//        @include set-flex();
//     }
//        img {
//            vertical-align: middle;
//        }

//     .left-section-main-img {
//            img {
//                height: 300px;
//                padding: 0;
//            }
//        }
    
    
// }



// footer {
//     button {
//         @include button-style();
//         width: auto;
//         margin-top: 5px;
//         padding: 15px
//     }
//     .footer-top-section {
//         @include set-flex();
//         flex-wrap: wrap
//     }

//     .footer-lower-section {
//         @include set-flex();
//         font-size: 1.5rem;
//     }

//     a {
//         &::before {
//             content: "> ";
//         }
//     }
   
// }